<div class="col-xs-12">&nbsp;</div>
<div class="navbar-offcanvas navbar-offcanvas-touch navbar-offcanvas-right pull-right counter-offcanvas row" id="js-bootstrap-offcanvas">
    <div class="col-xs-12 hidden-sm hidden-md hidden-lg">&nbsp;</div>
    <div class="col-xs-12 hidden-sm hidden-md hidden-lg">&nbsp;</div>
    <div class="col-xs-12 hidden-sm hidden-md hidden-lg">&nbsp;</div>
    <ul class="col-xs-12 off-canvas-list">
        <li class="off-canvas-list-item"><a href="#">&#43; Game</a></li>
        <li class="off-canvas-list-item"><a href="#">My Account</a></li>
        <li class="off-canvas-list-item"><a href="#">Organization Settings</a></li>
        <li class="off-canvas-list-item"><a href="#">Reports</a></li>
        <li class="off-canvas-list-item"><a href="#">Settings</a></li>
        <li class="off-canvas-list-item"><a href="/logout">Logout</a></li>
    </ul>
</div>
