<div class="navbar-offcanvas navbar-offcanvas-touch navbar-offcanvas-right pull-right counter-offcanvas row" id="js-bootstrap-offcanvas">
    <fieldset class="col-xs-12 counter-widget" id="counter-side-menu">
        <legend>Menu</legend>
        <div class="col-xs-12 off-canvas-list">
            <a href="#" class="col-xs-12 off-canvas-list-item"><i class="glyphicon glyphicon-plus"></i>&nbsp;Game</a>
            <a href="#" class="col-xs-12 off-canvas-list-item">My Account</a>
            <a href="#" class="col-xs-12 off-canvas-list-item">Organization Settings</a>
            <a href="#" class="col-xs-12 off-canvas-list-item">Reports</a>
            <a href="#" class="col-xs-12 off-canvas-list-item">Settings</a>
            <a href="/logout" class="col-xs-12 off-canvas-list-item">Logout</a>
        </div>
    </fieldset>
</div>
