<div class="col-xs-12">&nbsp;</div>
<div class="navbar-offcanvas navbar-offcanvas-touch navbar-offcanvas-right pull-right counter-offcanvas row" id="js-bootstrap-offcanvas">
    <div class="col-xs-12 hidden-sm hidden-md hidden-lg">&nbsp;</div>
    <div class="col-xs-12 hidden-sm hidden-md hidden-lg">&nbsp;</div>
    <div class="col-xs-12 hidden-sm hidden-md hidden-lg">&nbsp;</div>
    <ul class="col-xs-12 off-canvas-list">
        <a href="#" class="col-xs-12 off-canvas-list-item"><i class="glyphicon glyphicon-plus"></i>&nbsp;Game</a>
        <a href="#" class="col-xs-12 off-canvas-list-item">My Account</a>
        <a href="#" class="col-xs-12 off-canvas-list-item">Organization Settings</a>
        <a href="#" class="col-xs-12 off-canvas-list-item">Reports</a>
        <a href="#" class="col-xs-12 off-canvas-list-item">Settings</a>
        <a href="/logout" class="col-xs-12 off-canvas-list-item">Logout</a>
    </ul>
</div>
