<!DOCTYPE html>
<html lang="en">
<head>
    <title>CounterDraft | <%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <% include ../partials/css.ejs %>
</head>
<body ng-app="CounterDraft-app">
	<article id="counterdraft-main" class="container">
		<div class="row">
			<div id="cd-alert-box" class="cd-alert ">
	 			<button type="button" class="close" alert-dismiss>&times;</button>
	 			<div class="alert-container col-xs-12"></div>
	 		</div>
	 	</div>
	 	<div class="row">
	 		<%- body %>
	 	</div>
    </article>
</body>
<% include ../partials/footer.ejs %>
<% include ../partials/modals.ejs %>
<div id="counter-load">
    <div class="counter-loader"></div>
</div>
<% include ../partials/application.ejs %>
</html>
