<!DOCTYPE html>
<html lang="en">
	<head>
	    <title>CounterDraft | <%= title %></title>
	    <% include ../partials/header.ejs %>
	    <% include ../partials/css.ejs %>
	</head>
	<body ng-app="CounterDraft-app">
		<% include ../partials/off-canvas.ejs %>
		<article id="counterdraft-main" class="container">
			<div class="row">
				<div id="cd-alert-box" class="cd-alert ">
		 			<button type="button" class="close" alert-dismiss>&times;</button>
		 			<div class="alert-container col-xs-12"></div>
		 		</div>
		 	</div>
		 	<div class="row">
		 	<% if (login) { %>
		 		<div class="col-sm-9 col-xs-12">
			 		<%- body %>
			 	</div>
			 	<div class="col-sm-3">
			 		<%- include ../partials/off-canvas-nav-items.ejs %>
			 	</div>
		 	<% } else { %>
		 		<div class="col-xs-12">
			 		<%- body %>
			 	</div>
		 	<% } %>
		 	</div>
	    </article>
	</body>
	<% include ../partials/footer.ejs %>
	<% include ../partials/modals.ejs %>
	<% include ../partials/application.ejs %>
	<div id="counter-load">
	    <div class="counter-loader"></div>
	</div>
</html>
