@import "tools";
.counter-group {
    select.form-control {
        -webkit-appearance: none;
    }
    i.glyphicon-triangle-bottom {
        position: absolute;
        right: 25px;
        top: 35%;
        z-index: 10;
        color: @color-secondary-3;
    }
}

form.counter-form {
    .help-block {
        padding-left: 6px;
    }
    .form-group .help-block {
        display: none;
    }
    .form-group.has-error .help-block {
        display: block;
    }
    // .has-error .control-label,
    // .has-error .help-block,
    // .has-error .form-control-feedback {
    //     color: @error-box-color;
    // }
    // .has-success .control-label,
    // .has-success .help-block,
    // .has-success .form-control-feedback {
    //     color: @success-box-color;
    // }
}

.btn.close,
.btn.add {
    position: absolute;
    top: 20px;
}

.btn.close {
    width: 45px;
    height: 45px;
    right: 10px
}

.btn.add {
    width: 45px;
    height: 35px;
    right: 20px;
}

.btn.edit {
    position: absolute;
    top: 20px;
    width: 45px;
    height: 35px;
}
