<section class="alpha">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-center">Patron Management</h1>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-2 pull-right">
            <button class="btn btn-block primary" ng-click="onRoute('add-patron')"><i class="glyphicon glyphicon-plus"></i></button>
        </div>
    </div>
    <div class="col-xs-12">&nbsp;</div>
    <form name="patronSearchForm" data-toggle="validator" class="counter-form" role="form" ng-submit="onPatronSearch()">
        <fieldset class="col-xs-12 counter-widget">
            <legend>Patron Search</legend>
            <div class="col-xs-12">&nbsp;</div>
            <div class="col-xs-12">
                <div class="form-group" show-errors>
                    <input type="text" placeholder="patron id" ng-model="patronModel.patron_id" name="patron_id" class="form-control" />
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group" show-errors>
                    <input type="text" placeholder="first name" ng-model="patronModel.first_name" name="first_name" class="form-control" />
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group" show-errors>
                    <input type="text" placeholder="last name" name="last_name" ng-model="patronModel.last_name" class="form-control" />
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group" show-errors>
                    <input type="email" placeholder="email" name="email_address" ng-model="patronModel.email_address" class="form-control" />
                    <div class="help-block" ng-if="patronSearchForm.email_address.$error">Email address is invalid</div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-6 pull-right">
                        <button class="btn primay btn-block" ng-disabled="patronSearchForm.$invalid">SEARCH</button>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
    <div class="col-xs-12">&nbsp;</div>
</section>
