<!doctype html>
<html>
<style>
body {
    background-color: #ababab;
    color: white;
}

div.header {
    background-color: #A13646;
    padding: 15px;
}

h4 {
    text-align: center;
    color: white;
}
</style>

<body>
    <div class="header">
        <h4 class="title">Registration Confirmation</h4>
    </div>
    <div class="container">
        <div class="col-xs-12">Dear {{user.first_name}}:</div>
        <div class="col-xs-12">
            <p>Thank you for sign up for CounterDraft! Before we get started please confirm your email by clicking the link below.</p>
        </div>
        <div class="col-xs-12"><a href="{{url_link}}">{{url_link}}</a></div>
    </div>
</body>

</html>
      