<section class="alpha">
    <div class="title-header">
        <button class="btn senary add" ng-click="onRoute('add-game')"><i class="glyphicon glyphicon-plus"></i></button>
        <h3 class="text-left-xs text-left-sm text-center">Game Management</h3>
    </div>
    <form name="patronSearchForm" data-toggle="validator" class="counter-form" role="form" ng-submit="onGameSearch()" ng-init="gCtrl.initSearch()">
        <fieldset class="col-xs-12 counter-widget">
            <legend>Game Search</legend>
            <div class="col-xs-12">&nbsp;</div>
            <div class="col-xs-12">
                <div class="form-group" show-errors>
                    <input type="text" placeholder="Game ID" ng-model="gameSearchModel.id" name="gameid" class="form-control"/>
                </div>
                <div class="row">
                    <div class="form-group col-xs-6 pull-right">
                        <button class="btn primary btn-block" ng-disabled="patronSearchForm.$invalid || patronSearchFormValue()">Search</button>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
    <div class="col-xs-12">&nbsp;</div>
</section>

