<div class="counter-page-header">
    <row>
        <div class="col-xs-12">
        	<h1 class="text-center">Error 404, page not found</h1></div>
    </row>
    <div class="container">
        <p>This page doesn't exist!</p>
    </div>
</div>
<div class="counter-page-header">
</div>
<%- contentFor('title') %>Error 404<%- contentFor('mainjs') %>bad<%- contentFor('articleID') %>bad