<section class="counter-dashboard ng-clock" ng-controller="DashboardCtrl as dCtrl">
    <div class="row">
        <div class="col-xs-12 dashboard-header">
            <h1 class="text-center">Welcome&nbsp;Back,&nbsp;{{user_model.first_name}}</h1>
        </div>
    </div>
    <div class="col-xs-12">&nbsp;</div>
    <fieldset class="col-xs-12 counter-widget">
        <legend>Quick Search</legend>
        <div class="col-xs-12">&nbsp;</div>
        <div class="col-xs-12">&nbsp;</div>
        <div class="col-xs-12">&nbsp;</div>
        <div class="col-xs-3 pull-right"><button class="btn primay btn-block">SEARCH</button></div>
        <div class="col-xs-12">&nbsp;</div>
    </fieldset>
    <div class="col-xs-12">&nbsp;</div>
    <fieldset class="col-xs-12 counter-widget dashboard-body">
        <legend>Games</legend>
        <div class="col-xs-12">&nbsp;</div>
        <div class="col-xs-12">&nbsp;</div>
    </fieldset>
    <div class="col-xs-12">&nbsp;</div>
</section>
<%- contentFor('title') %>Dashboard<%- contentFor('mainjs') %>dashboard<%- contentFor('articleID') %>dashboard<%- contentFor('appname') %>counterApp