<div class="counter-page-header">
    <row>
        <div class="col-xs-12">
        	<h1 class="text-center">Dashboard</h1></div>
    </row>
    <div class="container">
        <p>This is the dashboard, we will dispaly a summary of the activities and stuff.</p>
    </div>
</div>
<div class="counter-page-header">
</div>
<%- contentFor('title') %>Dashboard<%- contentFor('mainjs') %>dashboard<%- contentFor('articleID') %>dashboard<%- contentFor('appname') %>dashboardApp