<div class="main-section" ng-controller="GameCtrl as gCtrl">
    <ng-include src="currentPage"/>
</div>
<%- contentFor('title') %>Game<%- contentFor('mainjs') %>game<%- contentFor('articleID') %>game<%- contentFor('appname') %>counterApp