<div class="main-section" ng-controller="GameCtrl as gCtrl">
    <section class="game-patron">
		<ng-include src="currentPage"/>
	</section>
</div>
<%- contentFor('title') %>Games<%- contentFor('end') %>