<div class="counter-page-header">
    <row>
        <div class="col-xs-12">
        	<h1 class="text-center">Login</h1></div>
    </row>
    <div class="container">
    </div>
</div>
<div class="counter-page-header">
</div>
<%- contentFor('title') %>counterDraft<%- contentFor('mainjs') %>login<%- contentFor('articleID') %>login