<div class="main-section" ng-controller="PatronCtrl as pCtrl">
	<article class="counter-patron">
		<ng-include src="currentPage"/>
	</article>
</div>
<%- contentFor('title') %>Patron<%- contentFor('end') %>