<div class="main-section" ng-controller="ReportsCtrl as rCtrl">
    <ng-include src="currentPage"/>
</div>
<%- contentFor('title') %>Reports<%- contentFor('mainjs') %>reports<%- contentFor('articleID') %>reports<%- contentFor('appname') %>counterApp