@import "../general/tools";

article.counter-dashboard {
    section.alpha {
        div#chat-container {
            border: 1px solid @light-gray-border;
            height: 500px;
            .border-radius();
            .dashboard-line-chart {
                height: 400px;
            }
        }
        div.chart-label{
            padding-left: 0;
        }
    }
    section.beta {}
}
