@import "../general/tools";

article.counter-dashboard {
    section.alpha {
        div#chat-container {
            border: 1px solid @light-gray-border;
            height: 600px;
            .border-radius();
            .dashboard-line-chart {
                height: 500px;
            }
        }
        div.quick-view-container {}
    }
    section.beta {}
}
