@import "../general/tools";
article.counter-organization {
    label.title {
        top: 10px;
        padding-left: 0;
    }
    .checkbox-container {
        padding-right: 0;
    }
    section.alpha {
        .employee-widget {
            min-height: 200px;
        }
    }
    section.beta {}
}
