@import "../general/tools";
article.counter-organization {
    @list-item-color: #778899;
    @las-vegas-gold-color: #C5B358;
    label.title {
        padding-left: 0;
    }
    .checkbox-container {
        padding-right: 0;
        min-height: 35px;
        .nonEdit {
            padding-right: 20px;
        }
    }
    section.alpha {
        .employee-list,
        .patron-list {
            max-height: 400px;
            overflow-y: auto;
        }
        i.glyphicon-star {
            color: @las-vegas-gold-color;
        }
        .employee-list-item,
        .patron-list-item {
            background-color: @list-item-color;
            color: black;
            i.admin-icon {
                position: absolute;
                right: 10px;
                top: 35%;
                font-size: 20px;
            }
            &:hover {
                cursor: pointer;
                color: white;
                background-color: darken(@list-item-color, 10%)
            }
        }
        fieldset.employee-widget {
            legend {
                background-color: @color-my-account;
                border: 1px solid @color-my-account;
            }
            i.glyphicon-plus {
                color: @color-my-account;
            }
        }
        fieldset.patron-widget {
            legend {
                background-color: darken(@color-patron, 10%);
                border: 1px solid darken(@color-patron, 10%);
            }
            i.glyphicon-plus {
                color: @color-patron;
            }
        }
    }
    section.beta {}
}
