@import "../general/tools";
article.counter-organization {
    section.alpha {
    	.checkbox-container{
    		padding-right: 0;
    	}
    	label.title{
    		top: 10px;
    		padding-left: 0;
    	}
    	.employee-widget{
    		min-height: 200px;
    	}
    }
    section.beta {}
}
