<article class="counter-admin" ng-controller="AdminCtrl as aCtrl">
		<h1>Dashboard</h1>
      <ng-include src="currentPage"/>
</article>
<%- contentFor('title') %>Admin Dashboard<%- contentFor('end') %>