<section class="alpha" ng-init="dCtrl.initDash()" ng-clock>
    <div class="row">
        <div class="col-xs-12 dashboard-header">
            <h3 class="text-center">Welcome&nbsp;Back,&nbsp;{{user_model.first_name}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-6 counter-group">
            <div class="input-group">
                <div class="input-group-addon">Time</div>
                <select class="form-control" id="time-select" ng-model="timeSelect" ng-change="dCtrl.onTimeChange(timeSelect)" ng-options="x for x in timeSpan"></select>
            </div>
            <i class="glyphicon glyphicon-triangle-bottom"></i>
        </div>
    </div>
    <div class="col-xs-12" id="chat-container">
        <div class="col-xs-12">&nbsp;</div>
        <div class="col-xs-12 dashboard-line-chart" line-chart line-data="chartData" line-resize='true' line-xkey='time' line-ykeys='["patrons", "games"]' line-labels='["Patrons", "Games"]' line-colors='["#31C0BE", "#c7254e"]'>
        </div>
        <div class="col-xs-12">&nbsp;</div>
    </div>
    </div>
    <div class="col-xs-12">&nbsp;</div>
    <div class="row quick-view-container">
        <div class="box">
            <div class="col-xs-7 label-font text-right">Current Total Patrons:</div>
            <div class="col-xs-5 text-left">{{total_patrons | number : fractionSize}}</div>
        </div>
        <div class="box">
            <div class="col-xs-7 label-font text-right">Current Active Games:</div>
            <div class="col-xs-5 text-left">{{active_games | number : fractionSize}}</div>
        </div>
        <div class="box hidden">
            <div class="col-xs-7 label-font text-right">Current Daily Active Users:</div>
            <div class="col-xs-5 text-left">{{daily_active_users | number : fractionSize}}</div>
        </div>
    </div>
    <div class="col-xs-12">&nbsp;</div>
</section>
