<section class="counter-dashboard" ng-controller="DashboardCtrl as dCtrl" ng-init="dCtrl.getCharts()" ng-clock>
    <div class="row">
        <div class="col-xs-12 dashboard-header">
            <h1 class="text-center">Welcome&nbsp;Back,&nbsp;{{user_model.first_name}}</h1>
        </div>
    </div>
    <div class="col-xs-12">&nbsp;</div>
    <div class="col-xs-12" id="chat-container">
        <div class="col-xs-12">&nbsp;</div>
        <div class="col-xs-12 line-chart" line-chart line-data='[
            { y: "2006", a: 100, b: 90 },
            { y: "2007", a: 75,  b: 65 },
            { y: "2008", a: 50,  b: 40 },
            { y: "2009", a: 75,  b: 65 },
            { y: "2010", a: 50,  b: 40 },
            { y: "2011", a: 75,  b: 65 },
            { y: "2012", a: 100, b: 90 }
        ]' line-xkey='y' line-ykeys='["a", "b"]' line-labels='["Serie A", "Serie B"]' line-colors='["#31C0BE", "#c7254e"]'>
        </div>
        <div class="col-xs-12">&nbsp;</div>
    </div>
    </div>
    <div class="col-xs-12">&nbsp;</div>
    <div class="row quick-view-container">
        <div class="box">
            <div class="col-xs-7 label-font text-right">Total Patrons:</div>
            <div class="col-xs-5 text-left">{{total_patrons | number : fractionSize}}</div>
        </div>
        <div class="box">
            <div class="col-xs-7 label-font text-right">Daily Active Users:</div>
            <div class="col-xs-5 text-left">{{daily_active_users | number : fractionSize}}</div>
        </div>
    </div>
    <div class="col-xs-12">&nbsp;</div>
</section>
